/* Global Styles */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* barlow-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/barlow-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Barlow-Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/barlow-condensed-v12-latin-regular.woff2')
		format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bellefair-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/bellefair-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
	/* Colors */
	--blue-900: hsl(230, 35%, 7%);
	--blue-300: hsl(231, 77%, 90%);
	--grey: hsl(0, 0%, 59.2%);
	--shadow: rgba(239, 239, 240, 0.2);
	--white: hsl(0, 0%, 100%);
	--pencil: 0.25px solid hsl(276, 77%, 58%);
	/* Font Size */
	--fs-1: clamp(5rem, 3.5915rem + 6.0094vw, 9rem);
	--fs-2: clamp(3.5rem, 2.6197rem + 3.7559vw, 6rem);
	--fs-3: clamp(1.5rem, 0.7958rem + 3.0047vw, 3.5rem);
	--fs-4: clamp(1.125rem, 0.8169rem + 1.3146vw, 2rem);
	--fs-5: clamp(1.25rem, 1.0739rem + 0.7512vw, 1.75rem); /* change font*/
	--fs-d-6: 1.75rem;
	--fs-6: clamp(1rem, 0.7359rem + 1.1268vw, 1.75rem);
	--fs-7: 0.875rem; /* 14px - change font */
	--fs-8: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem); /* can be bold */
	--fs-9: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
	/* Spacing */
	--spacing-1600: 128px;
	--spacing-1200: 96px;
	--spacing-1000: 80px;
	--spacing-800: 64px;
	--spacing-600: 48px;
	--spacing-500: 40px;
	--spacing-400: 32px;
	--spacing-300: 24px;
	--spacing-200: 16px;
	--spacing-150: 12px;
	--spacing-100: 8px;
	--spacing-50: 4px;
	--spacing-25: 2px;
	/* Letter Spacing */
	--letter-spacing-1: 4px;
	--letter-spacing-2: 2px;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Barlow', sans-serif;
	color: var(--white);
	font-size: 14px;
}

/* Layout guide */
main,
div,
nav,
footer,
header,
section,
article,
h1,
h2,
h3,
p,
ul,
li,
img {
	border: var(--pencil);
}

a {
	word-spacing: var(--spacing-1200);
}

/* Mobile first styling */
/* Font presets - 1, 2, 3, 4, 6, 8, 9 */

/* Navigation - mobile */
.mobile {
	margin: 0;
	padding: 0;
	background-color: var(--blue-900);
	background-image: url('./assets/home/background-home-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 375px;
	min-height: 812px;
}

.nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 2rem;
	height: 88px;
}

.logo img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}
/* Mobile nav sliding panel */

.nav-links {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 70vw;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(4px);
	flex-direction: column;
	align-items: flex-start;
	padding: var(--spacing-400) 0 0 var(--spacing-400);
	margin: 0;
	transform: translateX(100%);
	transition: transform 0.4s cubic-bezier(0.77, 0, 0.18, 1);
	z-index: 1000;
	display: flex;
}

/* Nav panel links */

.nav-link:first-of-type {
	margin-top: var(--spacing-600);
}

.nav-link {
	list-style-type: none;
	width: 100%;
	margin-bottom: var(--spacing-400);
}

.nav-link a {
	font-family: 'Barlow-Condensed', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: var(--white);
	text-decoration: none;
	font-size: var(--fs-8);
	letter-spacing: 2.7px;
	width: 100%;
}

.nav-link:hover {
	border-right: var(--spacing-25) solid var(--white);
}
.nav-link-active {
	border-right: var(--spacing-25) solid var(--white);
}

.number {
	font-weight: 600;
	padding-right: 12px;
}

.nav-links.open {
	transform: translateX(0);
}

.nav-toggle {
	background: none;
	border: none;
	cursor: pointer;
	z-index: 1100;
}

.menu-button {
	height: 25px;
	width: 28px;
}

.hide {
	display: none !important;
}

.cross {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	align-self: flex-end;
	z-index: 1101;
	margin-bottom: var(--spacing-400);
	padding-right: var(--spacing-400);
}

.navigation-links {
	display: none;
}

/* Main Content */

.main-content {
	height: 724px;
}

.hero-container {
	display: flex;
	flex-direction: column;
}

.hero {
	padding: 0;
	margin: 0;
}

.hero-text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
}

.hero-subheading {
	font-family: 'Barlow-Condensed', sans-serif;
	font-weight: 400;
	letter-spacing: var(--letter-spacing-1);
	text-transform: uppercase;
	color: var(--blue-300);
	font-size: var(--fs-8);
	margin: 0;
}

.hero-heading {
	font-family: 'Bellefair', sans-serif;
	font-weight: 400;
	letter-spacing: var(--letter-spacing-1);
	text-transform: uppercase;
	color: var(--white);
	font-size: var(--fs-1);
	padding: var(--spacing-300) 0;
	margin: 0;
}

.hero-description {
	font-family: 'Barlow', sans-serif;
	font-weight: 200;
	color: var(--blue-300);
	font-size: var(--fs-9);
	line-height: 1.5;
	margin: 0;
}

.hero-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 382px;
}
.hero-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 144px;
	height: 144px;
	background-color: var(--white);
	border-radius: 50%;
}
.hero-button:hover {
	box-shadow: 0 0 0 70px var(--shadow);
	transition: box-shadow 0.7s ease;
}

.hero-button-text {
	color: var(--blue-900);
	font-family: 'Bellefair', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	font-size: var(--fs-4);
	border: none;
	cursor: pointer;
}

/* Destination Page Design */

/* Mobile Styling */

.destination-mobile {
	background-image: url('./assets/destination/background-destination-mobile.jpg');
	background-repeat: no-repeat;
	background-size: 375px 900px;
}

.crew-mobile {
	background-image: url('./assets/crew/background-crew-mobile.jpg');
	background-repeat: no-repeat;
	background-size: 375px 900px;
}
.technology-mobile {
	background-image: url('./assets/technology/background-technology-mobile.jpg');
	background-repeat: no-repeat;
	background-size: 375px 900px;
}

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-300);
}
.destination-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.destination-hero {
	display: flex;
}

.destination-hero h1 {
	font-size: var(--fs-6);
	font-family: 'Barlow-Condensed', sans-serif;
	letter-spacing: 15%;
	text-transform: uppercase;
	margin: 0 auto;
	font-weight: 400;
	padding-bottom: var(--spacing-300);
}
.destination-number {
	color: var(--grey);
	font-weight: 600;
}

.planet-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-300) 0;
	margin-bottom: var(--spacing-400);
}

.planet-image {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.planet-links {
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: space-evenly;
	margin: 0 auto;
	height: var(--spacing-400);
	padding: 0 var(--spacing-300);
	list-style-type: none;
	text-align: center;
	color: var(--blue-300);
	text-decoration: none;
}

.planet-link {
	display: inline-block; /* Shrinks to fit content */
	padding: 0;
	margin: 0;
	height: var(--spacing-400);
}

.planet-link a {
	display: inline-block; /* ensures the a fills the li */
	padding: 0;
	margin: 0;
	color: var(--blue-300);
	text-decoration: none;
	font-family: 'Barlow-Condensed', Courier, monospace;
	letter-spacing: var(--letter-spacing-2);
	text-transform: uppercase;
}

.planet-link a:hover {
	color: var(--white);
}

.planet-link:hover {
	border-bottom: var(--spacing-25) solid var(--white);
}

.planet-link:active {
	color: var(--white);
}

.planet-link:focus {
	color: var(--white);
}

.planet-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.planet-name {
	font-family: 'Bellefair', sans-serif;
	font-weight: 400;
	letter-spacing: var(--letter-spacing-2);
	text-transform: uppercase;
	color: var(--white);
	font-size: var(--fs-2);
	margin: 0;
	padding: var(--spacing-200) 0;
}

.planet-description {
	font-family: 'Barlow', sans-serif;
	font-weight: 200;
	color: var(--blue-300);
	font-size: var(--fs-9);
	line-height: 1.5;
	margin: 0;
}

.line {
	width: 100%;
	height: 1px;
	background-color: var(--blue-300);
	margin: var(--spacing-300) 0;
}

.planet-distance-time {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0;
	margin: 0;
}

.planet-distance-time p {
	margin: 0;
}

.distance,
.time {
	font-family: 'Barlow-Condensed', sans-serif;
	font-weight: 400;
	letter-spacing: var(--letter-spacing-2);
	text-transform: uppercase;
	color: var(--blue-300);
	font-size: var(--fs-8);
	margin: 0;
	padding-bottom: var(--spacing-150);
}

.distance-number,
.time-number {
	font-family: 'Bellefair', sans-serif;
	font-weight: 400;
	letter-spacing: var(--letter-spacing-2);
	text-transform: uppercase;
	color: var(--white);
	font-size: var(--fs-d-6);
	margin: 0;
	padding-bottom: var(--spacing-150);
}

.rank-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

/* Crew Page Design  */

.destination-hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-300);
}

.rank {
	font-family: 'Bellefair', sans-serif;
	font-size: var(--fs-6);
	font-weight: 400;
	letter-spacing: var(--letter-spacing-2);
	text-transform: uppercase;
	color: var(--blue-300);
	margin: 0;
}

.name {
	font-family: 'Bellefair', sans-serif;
	font-weight: 400;
	letter-spacing: var(--letter-spacing-2);
	text-transform: uppercase;
	color: var(--white);
	font-size: var(--fs-3);
	margin: 0;
	padding-bottom: var(--spacing-150);
}

.description {
	font-family: 'Barlow', sans-serif;
	font-weight: 200;
	color: var(--blue-300);
	font-size: var(--fs-9);
	line-height: 1.5;
	text-align: center;
	padding-bottom: var(--spacing-300);
}

.pagination-list {
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: center;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0 0 var(--spacing-300) 0;
	gap: var(--spacing-200);
}

.pagination-item {
	display: inline-block;
	padding: 0;
	margin: 0;
	background-color: var(--grey);
	border-radius: 50%;
	height: 12px;
	width: 12px;
	cursor: pointer;
}

.pagination-item:hover {
	background-color: var(--white);
}

.active {
	background-color: var(--white);
}

.crew-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.crew-image {
	height: 300px;
}

/* Technology Pages */
.technology-hero {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-150);
	font-size: var(--fs-6);
	font-family: 'Barlow-Condensed', sans-serif;
	letter-spacing: 15%;
	text-transform: uppercase;
	margin: 0 auto;
	font-weight: 400;
	padding-bottom: var(--spacing-300);
}

.technology-number {
	color: var(--grey);
	font-weight: 600;
}

.tech-image {
	display: inline-block;
	position: relative;
	height: 322px;
}

.tech-image-landscape img {
	position: absolute;
	bottom: 0;
	width: 378px;
	height: 258px;
}

.tech-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-200);
	margin: 0 auto;
	padding: var(--spacing-300) 0;
	list-style-type: none;
}

.pagination-tech-item {
	display: inline-block;
	padding: 10px 0;
	margin: 0;
	border: 1px solid var(--grey);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	text-decoration: none;
	color: var(--white);
	font-family: 'Bellefair', sans-serif;
	font-weight: 400;
	font-size: var(--fs-4);
}

.tech-active {
	background-color: var(--white);
	color: var(--blue-900);
}

.technology-description {
	font-family: 'Barlow', sans-serif;
	padding: 0 var(--spacing-300) var(--spacing-500);
}

.technology-subtitle {
	font-family: 'Bellefair', sans-serif;
	font-size: var(--fs-4);
	font-weight: 300;
	text-transform: uppercase;
	color: var(--grey);
	margin: 0;
	text-align: center;
	padding-bottom: var(--spacing-150);
}

.technology-name {
	font-family: 'Bellefair', sans-serif;
	font-weight: 400;
	letter-spacing: var(--letter-spacing-2);
	text-transform: uppercase;
	color: var(--white);
	font-size: var(--fs-3);
	margin: 0;
	padding-bottom: var(--spacing-150);
	text-align: center;
}

.technology-text {
	font-family: 'Barlow', sans-serif;
	font-weight: 200;
	color: var(--blue-300);
	font-size: var(--fs-9);
	line-height: 1.5;
	text-align: center;
	margin: 0 auto;
	padding-bottom: var(--spacing-300);
}

@media (width >= 48em) {
	/* Tablet font presets - 2,3, 4, 5, 9 */

	.tablet {
		margin: 0;
		padding: 0;
		background-image: url(./assets/home/background-home-tablet.jpg);
		background-repeat: cover;
		background-size: 768px 1024px;
	}

	.nav-toggle,
	.cross {
		display: none;
	}
	/* Tablet - Header */

	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-left: var(--spacing-500);
		height: 96px;
		position: relative;
	}

	.nav-header {
		padding-left: 0;
	}
	.logo {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	.nav-links {
		display: none;
	}

	.navigation-container {
		display: flex;
		flex-direction: row;
		width: 640px;
	}

	.navigation-links {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 96px;
		display: flex;
		gap: var(--spacing-150);
		align-items: flex-end;
		background: rgba(255, 255, 255, 0.04); /* Grey blur effect */
		backdrop-filter: blur(10px); /* Creates the blur effect */
		-webkit-backdrop-filter: blur(10px); /* For Safari support */
		margin: 0;
		list-style-type: none;
	}

	.navigation-link a {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: var(--white);
		font-family: 'Barlow-Condensed', sans-serif;
		font-weight: 400;
		letter-spacing: var(--letter-spacing-1);
		text-transform: uppercase;
		font-size: var(--fs-8);
		height: 96px;
		width: fit-content;
		margin-bottom: 0 !important;
		text-align: center;
		padding: 0;
		/* Optional: add horizontal space between links */
	}

	.navigation-link:hover {
		color: var(--blue-300);
		border-bottom: var(--spacing-25) solid var(--white);
	}

	.navigation-link:active {
		color: var(--white);
		border-bottom: var(--spacing-50) solid var(--white);
	}

	.number {
		font-weight: 600;
	}

	.hero-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 128px 24px;
	}

	.hero {
		padding: 0;
		margin: 0 auto;
	}

	.hero-text-container {
		padding-bottom: 24px;
		height: 334px;
		width: 512px;
		margin: 0 auto;
	}

	.hero-description {
		font-size: var(--fs-9);
	}

	.hero-button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 272px;
		width: 512px;
	}

	.hero-button {
		width: 272px;
		height: 272px;
	}

	/* Destination Tablet */
	.destination-tablet {
		margin: 0;
		padding: 0;
		background-image: url(./assets/destination/background-destination-tablet.jpg);
		background-repeat: cover;
		background-size: 768px 1024px;
	}

	/* Crew tablet */

	.crew-tablet {
		margin: 0;
		padding: 0;
		background-image: url(./assets/crew/background-crew-tablet.jpg);
		background-repeat: cover;
		background-size: 768px 1024px;
	}

	/* Technology tablet */

	.tech-tablet {
		margin: 0;
		padding: 0;
		background-image: url(./assets/technology/background-technology-tablet.jpg);
		background-repeat: cover;
		background-size: 768px 1024px;
	}
}

/* Desktop */
@media (width >= 70em) {
	/* Desktop font presets - 1, 2, 3, 4, 5, 6, 7, 8, 9 */

	/* Home Page desktop */

	.home-desktop {
		margin: 0;
		padding: 0;
		background-image: url(./assets/home/background-home-desktop.jpg);
		background-size: cover;
		min-width: 1440px;
		min-height: 1024px;
	}

	/* Destination desktop */
	.destination-desktop {
		margin: 0;
		padding: 0;
		background-image: url(./assets/destination/background-destination-desktop.jpg);
		background-size: cover;
		min-width: 1440px;
		min-height: 1024px;
	}

	/* Crew desktop */

	.crew-desktop {
		margin: 0;
		padding: 0;
		background-image: url(./assets/crew/background-crew-tablet.jpg);
		background-size: cover;
		min-width: 1440px;
		min-height: 1024px;
	}

	/* Technology desktop */

	.tech-desktop {
		margin: 0;
		padding: 0;
		background-image: url(./assets/technology/background-technology-tablet.jpg);
		background-size: cover;
		min-width: 1440px;
		min-height: 1024px;
	}

	/* Navigation */
	header {
		position: relative; /* Needed for absolute positioning of children */
		height: 136px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 24px; /* Adjust as needed */
	}

	.nav-header {
		position: absolute;
		left: 0;
		bottom: 0;
		width: fit-content;
		padding: 1.5rem 2rem;
	}

	.logo {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;
	}

	.navigation-container {
		display: flex;
	}

	.navigation-links {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 96px;
		display: flex;
		flex-direction: row;
		gap: var(--spacing-600);
		background: rgba(255, 255, 255, 0.04); /* Grey blur effect */
		backdrop-filter: blur(10px); /* Creates the blur effect */
		-webkit-backdrop-filter: blur(10px); /* For Safari support */
		margin: 0;
		list-style-type: none;
		width: 736px;
		padding: 0 var(--spacing-400) 0 var(--spacing-1000);
	}

	.navigation-link a {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: var(--white);
		font-family: 'Barlow-Condensed', sans-serif;
		font-weight: 400;
		letter-spacing: var(--letter-spacing-1);
		text-transform: uppercase;
		font-size: var(--fs-8);
		height: 94px;
		margin-bottom: 0 !important;
		text-align: center;
		padding: 0;

		/* Optional: add horizontal space between links */
	}
	.navigation-link:hover {
		color: var(--blue-300);
		border-bottom: var(--spacing-25) solid var(--white);
	}

	.navigation-link:active {
		color: var(--white);
		border-bottom: var(--spacing-50) solid var(--white);
	}

	.number {
		font-weight: 600;
		padding-right: var(--spacing-150);
	}

	/* Hide the mobile toggle button on desktop */
	.nav-toggle,
	.nav-links {
		display: none;
	}

	.desktop-line {
		display: inline;
		width: 575px;
		margin-left: 75px; /* Will be shown only in desktop view if needed */
	}

	/* Home Desktop layout */

	.main-content {
		padding: 0;
	}

	.hero-desktop {
		padding: 128px 0;
	}

	.hero {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		width: 1110px;
		height: 632px;
	}
	.hero-text-container {
		align-items: flex-start;
	}

	.hero-description {
		text-align: left;
	}

	/* Destination desktop layout */

	.main-content {
		height: 888px;
		width: 1440px;
		padding: 48px 0;
	}

	.destination-hero-container {
		height: 792px;
		width: 1110px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 0;
	}

	.destination-hero {
		margin: 0;
		justify-self: flex-start;
	}

	.planet-container {
		display: flex;
		flex-direction: row;
		gap: var(--spacing-400);
		height: 734px;
	}
	.planet-image-container {
		height: 100%;
		width: 539px;
		margin: 0;
	}

	.planet-image {
		height: 480px;
		width: 480px;
	}

	.planet-info-container {
		width: 539px;
		height: 734px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.planet-info {
		height: 445px;
		width: 468px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.planet-links {
		align-self: flex-start;
		gap: var(--spacing-400);
		margin: 0;
		padding: 0;
	}

	.planet-description {
		margin-top: var(--spacing-200);
		text-align: justify;
		word-spacing: var(--letter-spacing-1);
		font-size: var(--fs-9);
	}

	.planet-distance-time {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		width: 100%;
		gap: var(--spacing-400);
		margin: 0;
		padding: 0;
	}

	.planet-distance,
	.planet-time {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}
