*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* barlow-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/barlow-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-condensed-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Barlow-Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/barlow-condensed-v12-latin-regular.woff2')
		format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* bellefair-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Bellefair';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/bellefair-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
	/* Colors */
	font-size: 14px;
	--blue-900: hsl(230, 35%, 7%);
	--blue-300: hsl(231, 77%, 90%);
	--grey: hsl(0, 0%, 59.2%);
	--shadow: rgba(239, 239, 240, 0.2);
	--white: hsl(0, 0%, 100%);
	--pencil: 0.25px solid hsl(276, 100%, 90%);
	/* Font Size */
	--fs-1: clamp(5rem, 3.5915rem + 6.0094vw, 9rem);
	--fs-d-1: 10.286rem;
	--fs-2: clamp(3.5rem, 2.6197rem + 3.7559vw, 6rem);
	--fs-t-2: 80px;
	--fs-d-2: 96px;
	--fs-3: clamp(1.5rem, 0.7958rem + 3.0047vw, 3.5rem);
	--fs-4: clamp(1.125rem, 0.8169rem + 1.3146vw, 2rem);
	--fs-d-4: 2.286rem;
	--fs-5: clamp(1.25rem, 1.0739rem + 0.7512vw, 1.75rem); /* change font*/
	--fs-d-6: 1.75rem;
	--fs-6: clamp(1rem, 0.7359rem + 1.1268vw, 1.75rem);
	--fs-7: 0.875rem; /* 14px - change font */
	--fs-8: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem); /* can be bold */
	--fs-9: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);
	/* Spacing */
	--spacing-1600: 128px;
	--spacing-1200: 96px;
	--spacing-1000: 80px;
	--spacing-800: 64px;
	--spacing-600: 48px;
	--spacing-500: 40px;
	--spacing-400: 32px;
	--spacing-300: 24px;
	--spacing-200: 16px;
	--spacing-150: 12px;
	--spacing-100: 8px;
	--spacing-50: 4px;
	--spacing-25: 2px;
	/* Letter Spacing */
	--letter-spacing-1: 4px;
	--letter-spacing-2: 2px;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Barlow', sans-serif;
	color: var(--white);
	color: var(--white);
	font-size: 14px;
}

/* Layout guide */

/* main,
div,
nav,
footer,
header,
section,
article,
h1,
h2,
h3,
p,
ul,
li,
img {
	border: var(--pencil);
} */

/* Mobile first styling */
/* Font presets - 1, 2, 3, 4, 6, 8, 9 */

/* Mobile first styling */

/* Navigation Header */

.mobile-background {
	margin: 0 auto;
	padding: 0;
	background-color: var(--blue-900);
	background-image: url('./assets/home/background-home-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 375px;
	min-height: 812px;
}

.navigation-menu .nav-center {
	min-width: 375px;
}

.mobile-menu {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	height: 88px;
	min-width: 375px;
	padding: 24px;
}
.desktop-line {
	display: none;
}

.mobile-menu a {
	height: 48px;
	width: 48px;
	cursor: pointer;
}
.mobile-menu a img {
	height: 48px;
	width: 48px;
}

.nav-toggle {
	background-color: transparent;
	border: none;
	height: 40px;
	width: 40px;
	justify-self: flex-end;
	cursor: pointer;
}
.nav-toggle img {
	width: 100%;
}

.nav-links {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 70vw;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	flex-direction: column;
	align-items: flex-start;
	padding: 0 0 0 var(--spacing-400);
	margin: 0;
	transform: translateX(100%);
	transition: transform 0.4s cubic-bezier(0.77, 0, 0.18, 1);
	z-index: 1000;
	display: flex;
	list-style-type: none;
	display: flex;
}

.hide {
	display: none !important;
}

.nav-links.open {
	transform: translateX(0);
}

.close-toggle {
	background-color: transparent;
	border: none;
	height: 40px;
	width: 40px;
	justify-self: flex-end;
	cursor: pointer;
}

/* Navigation side bar */

.nav-links button {
	height: 85px;
	width: 100%;
	display: inline-block;
	margin-bottom: var(--spacing-600);
}

.nav-links button img {
	float: right;
	padding: var(--spacing-400) var(--spacing-300) var(--spacing-400) 0;
}

.nav-links li {
	width: 100%;
	height: 19px;
	margin-bottom: var(--spacing-400);
}

.nav-links li a {
	display: inline-block;
	text-decoration: none;
	color: var(--white);
	font-family: 'Barlow-Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing-2);
	width: 100%;
	border-right: 3px solid transparent;
	transition: border-right-color 0.4s ease;
}

.nav-links li a.nav-active {
	border-right: 3px solid white;
}

.nav-links li a:hover {
	border-right: 3px solid rgba(255, 255, 255, 0.5);
}

span {
	font-weight: 700;
}

span::after {
	content: '  ';
}

/* Home Page */

.main-content {
	min-width: 375px;
	min-height: 724px;
	padding: var(--spacing-300);
}

.hero-texts {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-300);
	text-align: center;
}

.hero-text-subheader {
	font-family: 'Barlow-Condensed', Arial, Helvetica, sans-serif;
	font-size: var(--fs-5);
	text-transform: uppercase;
	letter-spacing: 4px;
	color: var(--blue-300);
}

.hero-text-header {
	font-family: 'Bellefair', sans-serif;
	font-size: var(--fs-1);
	text-transform: uppercase;
}

.hero-text {
	font-family: 'Barlow', sans-serif;
	font-size: var(--fs-9);
	line-height: 180%;
	color: var(--blue-300);
}
.hero-button-container {
	min-height: 382px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 144px;
	height: 144px;
	background-color: var(--white);
	border-radius: 50%;
}
.hero-button:hover {
	box-shadow: 0 0 0 70px var(--shadow);
	transition: box-shadow 0.7s ease;
}

.hero-button a {
	color: var(--blue-900);
	font-family: 'Bellefair', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	font-size: var(--fs-4);
	border: none;
	cursor: pointer;
}

/* Destination pages */

.mobile-destination-background {
	margin: 0 auto;
	padding: 0;
	background-color: var(--blue-900);
	background-image: url('./assets/destination/background-destination-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 375px;
	min-height: 880px;
}

.section {
	padding: var(--spacing-300);
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-300);
}

.section-header span {
	padding-right: var(--spacing-300);
	opacity: 25%;
}

.section-header p {
	text-transform: uppercase;
	font-size: var(--fs-6);
	font-family: 'Barlow-Condensed', sans-serif;
	text-align: center;
	letter-spacing: 15%;
}

.section-content,
.explanation-container,
.destination-statistics-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-300);
}

.section-content-image {
	height: 203px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section-content-image img {
	height: 150px;
	width: 150px;
	outline: none;
}

.explanation-container nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 var(--spacing-300);
	list-style: none;
	height: 32px;
}

.explanation-container nav ul li a {
	text-decoration: none;
	font-family: 'Barlow-Condensed', sans-serif;
	color: var(--blue-300);
	font-size: var(--fs-8);
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 15%;
	height: 32px;
	display: inline-block;
	border-bottom: 3px solid transparent;
	transition: border-bottom-color 0.4s ease;
}

.explanation-container nav ul li a[aria-current='dest-page'] {
	color: white;
	border-bottom: 3px solid white;
	transition: none;
}

.explanation-container nav ul li a:hover {
	color: white;
	border-bottom: 3px solid white;
}

.destination-text-container h1 {
	font-family: 'Bellefair', serif;
	font-size: var(--fs-2);
	color: var(--white);
	text-align: center;
	text-transform: uppercase;
	padding-bottom: var(--spacing-200);
}

.destination-text-container p {
	text-align: center;
	font-size: var(--fs-9);
	color: var(--blue-300);
}

.destination-line {
	border-bottom: 1px solid var(--shadow);
	width: 100%;
	height: 2px;
}

.statistics {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-150);
}

.statistics .statistics-title {
	font-family: 'Barlow-Condensed', sans-serif;
	text-transform: uppercase;
	font-size: var(--fs-7);
	letter-spacing: var(--letter-spacing-2);
	color: var(--blue-300);
}

.destination-distance,
.destination-time {
	font-family: 'Bellefair', serif;
	font-size: var(--fs-d-6);
	text-transform: uppercase;
}

/* Crew pages */
.mobile-crew-background {
	margin: 0 auto;
	padding: 0;
	background-color: var(--blue-900);
	background-image: url('./assets/crew/background-crew-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 375px;
	min-height: 880px;
}

.crew-explanation {
	padding: var(--spacing-400) 0;
}

.explanation-header {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-100);
}

.explanation-header p {
	font-family: 'Bellefair', serif;
	color: var(--white);
	opacity: 50%;
	text-transform: uppercase;
	font-size: var(--fs-4);
	height: 21px;
}

.explanation-header h1 {
	font-family: 'Bellefair', serif;
	color: var(--white);
	text-transform: uppercase;
	font-size: var(--fs-3);
	padding-bottom: var(--spacing-300);
	font-weight: 400;
}

.description {
	font-family: 'Barlow';
	color: var(--blue-300);
	text-align: center;
	height: 164px;
	font-size: var(--fs-9);
	line-height: 180%;
}

.pagination-container {
	display: flex;
	justify-content: center;
}

.crew-pagination {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: var(--spacing-200);
	text-decoration: none;
	list-style-type: none;
	height: 40px;
}

.crew-pagination li {
	height: 15px;
	width: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.crew-pagination li a {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: white;
	opacity: 25%;
	transition: opacity 0.4s ease;
}
.crew-pagination li a:hover {
	background-color: white;
	opacity: 100%;
}
.crew-pagination li a[aria-current='page-active'] {
	height: 10px;
	width: 10px;
	background-color: white;
	opacity: 100%;
}

.crew-image {
	display: flex;
	justify-content: center;
}

.image-container {
	width: 258px;
	height: 258px;
}

/* Technology Page */
.mobile-tech-background {
	margin: 0 auto;
	padding: 0;
	background-color: var(--blue-900);
	background-image: url('./assets/technology/background-technology-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 375px;
	min-height: 880px;
}

.technology-content > .section-header {
	padding-bottom: var(--spacing-300);
}

.section-content-technology {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-400);
}

.technology-image-container {
	height: 322px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	overflow: visible;
}

.tech-image {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	height: 258px;
	object-fit: cover;
}

.technology-explanation {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-500);
}

.tech-pagination {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-around;
	gap: 15px;
}

.tech-pagination li a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.497);
	color: white;
	text-decoration: none;
	font-family: 'Bellefair', serif;
}

.tech-pagination li a:hover {
	border: 1px solid white;
}

.tech-pagination li a[aria-current='tech-active'] {
	color: var(--blue-900);
	background-color: white;
}

/* Tablet styling */

@media (width >= 48em) {
	/* Navigation bar */

	.navigation-menu .nav-center {
		min-width: 768px;
		display: flex;
		flex-direction: row;
		height: 96px;
	}

	.mobile-menu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		height: 96px;
		width: 100%;
		min-width: 128px;
		padding-left: 40px;
	}

	.mobile-menu a {
		height: 48px;
		width: 48px;
		cursor: pointer;
	}
	.mobile-menu a img {
		height: 48px;
		width: 48px;
	}

	.nav-toggle {
		display: none;
	}

	.nav-links {
		position: static;
		top: auto;
		right: auto;
		height: auto;
		width: 644px;
		background: rgba(255, 255, 255, 0.05);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		transform: none;
		transition: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		padding-right: var(--spacing-600);
		margin: 0;
		gap: var(--spacing-600); /* or your preferred gap */
	}
	/* Navigation side bar */

	.nav-links button {
		display: none !important;
	}

	.nav-links li {
		width: fit-content;
		height: 96px;
		display: flex;
		flex-direction: column;
		margin-bottom: 0;
		align-items: center;
		justify-content: center;
	}

	.nav-links li a {
		height: 100%;
		width: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		text-align: center;
		color: var(--white);
		font-family: 'Barlow-Condensed', sans-serif;
		text-transform: uppercase;
		border-bottom: 3px solid transparent;
		transition: border-bottom 0.4s ease;
	}

	.nav-links li a.nav-active {
		border-right: none;
		border-bottom: 2px solid white;
	}

	.nav-links li a:hover {
		border-right: none;
		border-bottom: 2px solid white;
	}
	span {
		font-weight: 700;
	}

	span::after {
		content: '  ';
	}

	/* Home Tablet Page */
	.tablet-background {
		margin: 0 auto;
		padding: 0;
		background-color: var(--blue-900);
		background-image: url('./assets/home/background-home-tablet.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		min-width: 768px;
		min-height: 1024px;
	}

	.main-content {
		padding: var(--spacing-1600) var(--spacing-500);
	}

	.hero-sections {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-600);
	}

	.hero-texts,
	.hero-button-container {
		width: 512px;
		margin: 0 auto;
	}

	.hero-text-header {
		font-size: var(--fs-d-1);
	}

	.hero-button {
		width: 272px;
		height: 272px;
	}

	.hero-button a {
		font-size: var(--fs-d-4);
	}

	/* Destination Tablet Page */

	.tablet-destination-background {
		margin: 0 auto;
		padding: 0;
		background-color: var(--blue-900);
		background-image: url('./assets/destination/background-destination-tablet.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		min-width: 768px;
		min-height: 1024px;
	}

	.destination-section {
		padding: var(--spacing-500);
	}

	.destination-content {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-300);
	}

	.section-header p {
		text-align: left;
	}

	.content-destination {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-400);
	}

	.section-content-image {
		height: 384px;
	}

	.section-content-image img {
		height: 300px;
		width: 300px;
		outline: none;
	}

	.explanation-container {
		width: 514px;
		margin: 0 auto;
	}

	.explanation-container nav ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: var(--spacing-400);
	}

	.destination-text-container h1 {
		font-size: var(--fs-t-2);
	}

	.destination-statistics-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: var(--spacing-400);
	}
	.statistics {
		width: 245px;
	}

	/* Crew tablet page */

	.tablet-crew-background {
		margin: 0 auto;
		padding: 0;
		background-color: var(--blue-900);
		background-image: url('./assets/crew/background-crew-tablet.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		min-width: 768px;
		min-height: 1024px;
	}

	.crew-section {
		padding: var(--spacing-500);
	}

	.explanation-2 {
		width: 512px;
		margin: 0 auto;
	}

	.image-container {
		height: 560px;
		width: 446.74px;
	}

	/* Technology tablet Page */

	.tablet-tech-background {
		margin: 0 auto;
		padding: 0;
		background-color: var(--blue-900);
		background-image: url('./assets/technology/background-technology-tablet.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		min-width: 768px;
		min-height: 1024px;
	}

	.technology-image-container {
		height: 421px;
	}

	.tech-image {
		height: 357px;
	}

	.explanation-header {
		gap: var(--spacing-200);
	}

	.tech-explanation {
		width: 512px;
		margin: 0 auto;
	}

	.technology-section {
		padding: var(--spacing-500);
	}

	.tech-pagination li a {
		width: 56px;
		height: 56px;
		font-size: var(--fs-4);
	}
}

/* Desktop Styling larger than 70em */

@media (width >= 70em) {
	/* Navigation */

	.navigation-menu {
		height: 136px;
		display: flex;
		align-items: flex-end; /* Align children to the bottom */
	}

	.nav-center {
		display: flex;
		align-items: flex-end;
		width: 100%;
	}

	.mobile-menu {
		width: 736px;
	}

	.mobile-menu a {
		display: flex;
		align-items: center;
		width: 48px;
		height: 48px; /* space before the line */
	}

	.desktop-line {
		display: inline-block;
		width: 550px;
		height: 1px;
		border-bottom: 1px solid var(--shadow, #fff);
		margin-right: -50px; /* Negative margin to overlap nav-links */
		position: relative;
		z-index: 2; /* Adjust as needed */
	}

	.nav-links {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 736px;
		z-index: 1;
	}

	/* Home Page Styling */

	.desktop-background {
		margin: 0 auto;
		padding: 0;
		background-color: var(--blue-900);
		background-image: url('./assets/home/background-home-desktop.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		width: 1440px;
		height: 1024px;
	}

	.main-content {
		padding: var(--spacing-1600) 0;
	}

	.hero-content {
		display: flex;
		min-height: 632px;
		justify-content: center;
		align-items: flex-end;
	}
	.hero-sections {
		flex-direction: row;
		align-items: flex-end;
	}

	.hero-texts {
		height: 100%;
		text-align: left;
	}

	.hero-button-container {
		align-items: center;
		justify-content: flex-end;
	}

	/* Destination Desktop Page */

	.desktop-destination-background {
		margin: 0 auto;
		padding: 0;
		background-color: var(--blue-900);
		background-image: url('./assets/destination/background-destination-desktop.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		width: 1440px;
		height: 1024px;
	}

	.destination-section {
		padding: var(--spacing-600) 0;
	}

	.destination-content {
		height: 792px;
		width: 1100px;
		margin: 0 auto;
	}

	.content-destination {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 734px;
		gap: var(--spacing-400);
	}

	.section-content-image,
	.section-content-description {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 539px;
	}
	.section-content-image img {
		width: 480px;
		height: 480px;
	}

	.explanation-container {
		margin: 0 auto;
		height: 468px;
		width: 445px;
		gap: var(--spacing-500);
	}

	.explanation-container nav ul {
		justify-content: flex-start;
		padding: 0;
		height: var(--spacing-400);
	}

	.destination-text-container {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-200);
	}

	.destination-text-container h1 {
		text-align: left;
		font-size: var(--fs-d-2);
	}

	.destination-text-container p {
		line-height: 180%;
		text-align: left;
	}

	.statistics {
		text-align: left;
	}

	/* Crew Desktop Page */

	.desktop-crew-background {
		margin: 0 auto;
		padding: 0;
		background-color: var(--blue-900);
		background-image: url('./assets/crew/background-crew-desktop.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		width: 1440px;
		height: 1024px;
	}

	.crew-section {
		padding: var(--spacing-600) 0;
	}

	.crew-content {
		width: 1110px;
		height: 792px;
		margin: 0 auto;
		gap: var(--spacing-300);
	}

	.section-content {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 734px;
		gap: var(--spacing-400);
	}

	.crew-explanation {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.explanation-2 {
		width: 539px;
		height: 734px;
		display: flex;
		flex-direction: column;
		gap: var(--spacing-500);
		justify-content: flex-end;
		align-items: flex-start;
	}

	.explanation-3 {
		height: 539px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.explanation-header {
		text-align: left;
	}

	.explanation-header p {
		height: 37px;
	}

	.explanation-3 p {
		text-align: left;
	}

	.explanation-2 > *:not(nav) {
		width: 100%;
	}

	.explanation-2 nav {
		align-self: flex-start; /* Ensure nav stays left */
		margin-bottom: 0; /* Remove any bottom margin if present */
	}
	.explanation-2 nav ul {
		height: 15px;
		margin-bottom: var(--spacing-500);
		gap: var(--spacing-500);
	}

	.image-container {
		height: 676px;
		width: 539px;
	}

	/* Technology Desktop Page */

	.desktop-tech-background {
		margin: 0 auto;
		padding: 0;
		background-color: var(--blue-900);
		background-image: url('./assets/technology/background-technology-desktop.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		width: 1440px;
		height: 1024px;
	}

	.technology-section {
		padding: var(--spacing-600) 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		width: 1440px;
	}

	.technology-content {
		width: 1275px;
	}

	.section-content-technology {
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
	}

	.technology-image-container {
		height: 734px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 600px;
		position: static;
		overflow: hidden;
	}
	.tech-image {
		position: relative;
		width: 600px;
		height: 608px;
		object-fit: cover;
	}

	.technology-explanation {
		flex-direction: row;
		align-items: center;
		width: 635px;
		height: 304px;
	}

	.tech-pagination {
		flex-direction: column;
		justify-content: space-between;
		height: 304px;
	}

	.tech-pagination li a {
		width: 80px;
		height: 80px;
	}

	.description /* Duplication on line 605 TODO: check */ {
		text-align: left;
	}
}
